@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
  --font-sans: "DM Sans", sans-serif;
  
  --color-text: rgb(209, 213, 219);
  --color-dimText: rgb(156, 163, 175);

  --darkerGradientPoint: #111827;
  --darkerGradientPointAlpha: rgba(17, 24, 39, 0.85);
  --lighterGradientPoint: #1d2635;

  --bg-linear-dark: linear-gradient(to bottom, var(--darkerGradientPointAlpha), var(--lighterGradientPoint));
}

@utility bg-linear-dark {
  background: var(--bg-linear-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  @apply bg-linear-dark text-text;
}