@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-inter: 'Inter', sans-serif;

  --color-text: rgb(209, 213, 219);
  --color-dimText: rgb(156, 163, 175);

  --darkerGradientPoint: #111827;
  --darkerGradientPointAlpha: rgba(17, 24, 39, 0.85);
  --lighterGradientPoint: #1d2635;

  --bg-linear-dark: linear-gradient(to bottom, var(--darkerGradientPointAlpha), var(--lighterGradientPoint));

  /* Duotone Colors */
  --duotone-vivid-pink-primary: #9D174D;
  --duotone-vivid-pink-secondary: #F9A8D4;

  --duotone-royal-purple-primary: #480C8B;
  --duotone-royal-purple-secondary: #A96BEF;

  --duotone-deep-blue-primary: #032541;
  --duotone-deep-blue-secondary: #01B4E4;

  --duotone-golden-orange-primary: #92400E;
  --duotone-golden-orange-secondary: #FCD34D;

  --duotone-tropical-green-primary: #065F46;
  --duotone-tropical-green-secondary: #6EE7B7;

  --duotone-muted-blue-primary: #1F2937;
  --duotone-muted-blue-secondary: #2864D2;

  --duotone-earthy-lime-primary: #777E0D;
  --duotone-earthy-lime-secondary: #E4ED55;

  --duotone-lavender-purple-primary: #5B21B6;
  --duotone-lavender-purple-secondary: #C4B5FD;

  --duotone-cool-gray-primary: #1F2937;
  --duotone-cool-gray-secondary: #D1D5DB;

  --duotone-rusty-amber-primary: #552C01;
  --duotone-rusty-amber-secondary: #D47C1D;

  --duotone-soft-blue-primary: #1F2937;
  --duotone-soft-blue-secondary: #60A5FA;

  --duotone-blush-red-primary: #1F2937;
  --duotone-blush-red-secondary: #F87171;
}

@utility bg-linear-dark {
  background: var(--bg-linear-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  @apply bg-linear-dark text-text;
}